.mapboxgl-ctrl-what-here,
.maplibregl-ctrl-what-here {
  pointer-events: none;
  position: absolute;
  z-index: 2;
}
.maplibregl-ctrl-what-here.bottom-center,
.mapboxgl-ctrl-what-here.bottom-center {
  bottom: 0;
  left: 0;
  right: 0;
}

.marker-what-here::before {
  content: "";
  position: relative;
  width: 21px;
  height: 21px;
  display: block;
  background-size: auto 100%;
  background-image: url("//maps.gstatic.com/tactile/omnibox/search-nearby-2x.png");
}
